<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e1e7ec; font-size: 16px;">
  <div class="container">
    <a class="navbar-brand" href="#" style="font-size:30px;">Email</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        <ng-container *ngIf="sign; else signedout">
          <li class="nav-item">
            <a class="nav-link" routerLink="/inbox" routerLinkActive="active">Inbox</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signout" routerLinkActive="active">Sign Out</a>
          </li>
        </ng-container>

        <ng-template #signedout>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signup" routerLinkActive="active">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signin" routerLinkActive="active">Log in</a>
          </li>
        </ng-template>

      </ul>
    </div>
  </div>
</nav>
