<div (click)="onDismissClick()" class="dimmer visible active">

  <div class="modal d-block" (click)="$event.stopPropagation()">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">
            <ng-content select="[modalTitle]"></ng-content>
          </h3>
          <button (click)="onDismissClick()" type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ng-content select="[modalContent]"></ng-content>
        </div>
        <div class="modal-footer" *ngIf="showBtn">
          <button id="buttonOk" (click)="onDismissClick()" type="button" class="btn btn-primary">OK</button>
        </div>
        <!-- <div class="actions">
        <ng-content select="[modalFooter]"></ng-content>
      </div> -->
      </div>
    </div>
  </div>
</div>

<!-- <div (click)="onDismissClick()" class="dimmer visible active">
  <div (click)="$event.stopPropagation()" class="modal visible active d-block">
    <i class="close icon" (click)="onDismissClick()"></i>

    <div class="modal-header">
      <ng-content select="[modalTitle]"></ng-content>
    </div>

    <div class="modal-body">
      <ng-content></ng-content>
    </div>
    
    <div class="actions actions-default">
      <button (click)="onDismissClick()" class="ui button primary">OK</button>
    </div>

    <div class="actions">
      <ng-content select="[modalFooter]"></ng-content>
    </div>
  </div>
</div> -->
