<button (click)="showModal = true" class="cta mt-4" style="width: 100%; height:50px">
  <span class="hover-underline-animation"> Compose </span>
  <svg id="arrow-horizontal" xmlns="http://www.w3.org/2000/svg" width="30" height="10" viewBox="0 0 46 16">
    <path id="Path_10" data-name="Path 10" d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z"
      transform="translate(30)"></path>
  </svg>
</button>

<app-modal (dismiss)="showModal = false" *ngIf="showModal">

  <h4 modalTitle>Create an Email</h4>
  <app-email-form></app-email-form>
  <!-- <div modalContent>This is my Content</div>
  <div modalFooter>My Footer</div> -->

</app-modal>
