<div class="container ">
  <br>
  <div class="card" style="width: 100%;">
    <div class="card-body">

      <h3 class="mb-3 mt-6">Create an Account</h3>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <app-input [control]="$any(f?.['username'])" [label]="'Username'" placeholder="Enter a unique username">
        </app-input>


        <app-input [control]="$any(f?.['password'])" [label]="'Password'" type="password"
          placeholder="Enter your password">
        </app-input>
        <!-- <label class="form-label">Password</label>
            <input type="password" formControlName="password" placeholder="******" class="form-control"
              aria-label="Password"> -->


        <app-input [control]="$any(f?.['passwordConfirmation'])" [label]="'Password Confirmation'" type="password"
          placeholder="Repeat your password">
        </app-input>
        <!-- <label class="form-label">Confirm Password</label>
            <input type="password" formControlName="passwordConfirmation" placeholder="******" class="form-control"
              aria-label="Confirm Password"> -->

        <ng-container *ngIf="showErrorPasswordDontMatch()">
          <span class="badge bg-warning text-dark" *ngIf="form.hasError('passwordDontMatch')">
            Please enter the same password
          </span>
        </ng-container>

        <div class="mt-3 d-grid gap-2">
          <button [disabled]="form.invalid" class="btn btn-lg btn-primary" type="submit">Create Account</button>
        </div>
      </form>
    </div>
  </div>
</div>
